<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/gauravsingh/IdeaProjects/Notes/Rest Assured Projects/videogame">
        <classes>
            <class name="com.videogame.VideoGameAPITest">
                <methods><include name="test_getAllVideoGames"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>